{% extends "base.html.twig" %}

{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %} 

{% block body %}


    <main>
        <div >
            <img src="img/picturehome2.jpg" alt="paysage" class="imgArtgrahique">
            
        </div>

        <h2 class="h2 ms-3 mt-5">Art Figuratif</h2>
        <div class="text-center">
        <p class="m-3">Vous vous trouvez sur la page 'Art figuratif', pour visitez notre galerie d'art abstrait et divers thèmes vous pouvez cliquez sur ce lien </p>
        <button class="favorite styled" type="button">Art abstrait</button>
        </div>
        <div class="container mt-4 mt-lg-5 ">
            <h3 id="face"> Portraits et scènes </h3>
            <h5 class="mb-5">Orientation paysage</h5>
            <div class="row g-2 g-lg-3 justify-content-center">
                
                <div class="col-11 col-sm-10 col-md-6 col-lg-4 col-xl-3">
                    
                    <div class="card">
                        <img src="./img/facepicture.jpg" class="card-img-top" alt="Aperçu du tableau cheveaux sauvages">
                        <div class="card-body">
                            <h5 class="card-title">"Jeune fille"</h5>
                            <p class="auteur">Auteur: ??????</p>
                            <p class="card-text"> Taille : 16 x 30 cm </p>
                            <p class="tecnique">Technique : Huile sur toile</p>
                            <p class="priceunit">Prix : 139€</p>
                            <div class="buttonBuy">
                                <input class="favorite styled" type="button" value="Acheter">
                                <input type="button" value="info">
                            </div>
                        </div>
                    </div>
                </div>
                <h5 class="mt-3">Orientation portrait</h5>
            </div>
        </div>
        <div class="container mt-4 mt-lg-5 ">
            <h3 id="animal"> Animaux </h3>
            <h5 class="mb-5">Orientation portrait</h5>
            <div class="row g-2 g-lg-3 justify-content-center">
                
                <div class="col-11 col-sm-10 col-md-5 col-lg-4 col-xl-3">
                    
                    <div class="card">
                        <img src="./img/painting-1974614_1920.jpg" class="card-img-top" alt="Aperçu du tableau cheveaux sauvages">
                        <div class="card-body">
                            <h5 class="card-title">"Cheveaux sauvages"</h5>
                            <p class="auteur">Auteur: Manon Maximin</p>
                            <p class="card-text"> Taille : 16 x 30 cm </p>
                            <p class="tecnique">Technique : Huile sur toile</p>
                            <p class="priceunit">Prix : 139€</p>
                            <div class="buttonBuy">
                                <input class="favorite styled" type="button" value="Acheter">
                                <input type="button" value="info">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-11 col-md-5 col-lg-4 col-xl-3">
                    <div class="card">
                        <img src="./img/lion-3676984_1920.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title ">"Lion multicouleur"</h5>
                            <p class="auteur">Auteur: Jean Legend</p>
                            <p class="card-text"> Taille : 20 x 40 cm </p>
                            <p class="tecnique">Technique : Huile sur toile</p>
                            <p class="priceunit">Prix : 149€</p>
                            <div class="buttonBuy">
                                <input class="favorite styled" type="button" value="Acheter">
                               <a href="prduits.php"> <input type="button" value="info"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-sm-10 col-md-5 col-lg-4 col-xl-3">
                    <div class="card">
                        <img src="./img/painting-1974614_1920.jpg" class="card-img-top" alt="Aperçu du tableau cheveaux sauvages">
                        <div class="card-body">
                            <h5 class="card-title">"Cheveaux sauvages"</h5>
                            <p class="auteur">Auteur: Manon Maximin</p>
                            <p class="card-text"> Taille : 16 x 30 cm </p>
                            <p class="tecnique">Technique : Huile sur toile</p>
                            <p class="priceunit">Prix : 139€</p>
                            <div class="buttonBuy">
                                <input class="favorite styled" type="button" value="Acheter">
                                <input type="button" value="info">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-sm-10 col-md-6 col-lg-4 col-xl-3">
                    <div class="card">
                        <img src="./img/painting-1974614_1920.jpg" class="card-img-top" alt="Aperçu du tableau cheveaux sauvages">
                        <div class="card-body">
                            <h5 class="card-title">"Cheveaux sauvages"</h5>
                            <p class="auteur">Auteur: Manon Maximin</p>
                            <p class="card-text"> Taille : 16 x 30 cm </p>
                            <p class="tecnique">Technique : Huile sur toile</p>
                            <p class="priceunit">Prix : 139€</p>
                            <div class="buttonBuy">
                                <input class="favorite styled" type="button" value="Acheter">
                                <input type="button" value="info">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-11 col-md-6 col-lg-4 col-xl-3">
                    <div class="card">
                        <img src="./img/painting-1974614_1920.jpg" class="card-img-top" alt="Aperçu du tableau cheveaux sauvages">
                        <div class="card-body">
                            <h5 class="card-title ">"Cheveaux sauvages"</h5>
                            <p class="auteur">Auteur: Manon Maxi</p>
                            <p class="card-text"> Taille : 16 x 30 cm </p>
                            <p class="tecnique">Technique : Huile sur toile</p>
                            <p class="priceunit">Prix : 139€</p>
                            <div class="buttonBuy">
                                <input class="favorite styled" type="button" value="Acheter">
                                <input type="button" value="info">
                            </div>
                        </div>
                    </div>
                </div>
                <h5 class="mt-3">Orientation paysage</h5>
            </div>
        </div>
        <div class="container mt-4 mt-lg-5 ">
            <h3 id="paysage"> Paysages </h3>
            <h5 class="mb-5">Orientation portrait</h5>
            <div class="row g-2 g-lg-3 justify-content-center">
                
                <div class="col-11 col-sm-10 col-md-6 col-lg-4 col-xl-3">
                    
                    <div class="card">
                        <img src="./img/paysage.jpg" class="card-img-top" alt="Aperçu du tableau cheveaux sauvages">
                        <div class="card-body">
                            <h5 class="card-title">"Jeune fille"</h5>
                            <p class="auteur">Auteur: ??????</p>
                            <p class="card-text"> Taille : 16 x 30 cm </p>
                            <p class="tecnique">Technique : Huile sur toile</p>
                            <p class="priceunit">Prix : 139€</p>
                            <div class="buttonBuy">
                                <input class="favorite styled" type="button" value="Acheter">
                                <input type="button" value="info">
                            </div>
                        </div>
                    </div>
                </div>
                <h5 class="mt-3">Orientation paysage</h5>
            </div>
        </div>
        <div class="container mt-4 mt-lg-5 ">
            <h3 id="naturemorte"> Nature morte </h3>
            <h5 class="mb-5">Orientation portrait</h5>
            <div class="row g-2 g-lg-3 justify-content-center">
                
                <div class="col-11 col-sm-10 col-md-6 col-lg-4 col-xl-3">
                    
                    <div class="card">
                        <img src="./img/paysage.jpg" class="card-img-top" alt="Aperçu du tableau cheveaux sauvages">
                        <div class="card-body">
                            <h5 class="card-title">"Jeune fille"</h5>
                            <p class="auteur">Auteur: ??????</p>
                            <p class="card-text"> Taille : 16 x 30 cm </p>
                            <p class="tecnique">Technique : Huile sur toile</p>
                            <p class="priceunit">Prix : 139€</p>
                            <div class="buttonBuy">
                                <input class="favorite styled" type="button" value="Acheter">
                                <input type="button" value="info">
                            </div>
                        </div>
                    </div>
                </div>
                <h5 class="mt-3">Orientation paysage</h5>
                <div class="col-12 col-sm-11 col-md-6 col-lg-3 col-xl-4">
                    
                    <div class="card">
                        <img src="./img/fantasy-3054804_1920.jpg" class="card-img-top" alt="Aperçu du tableau cheveaux sauvages">
                        <div class="card-body">
                            <h5 class="card-title">"Jeune fille"</h5>
                            <p class="auteur">Auteur: ??????</p>
                            <p class="card-text"> Taille : 16 x 30 cm </p>
                            <p class="tecnique">Technique : Huile sur toile</p>
                            <p class="priceunit">Prix : 139€</p>
                            <div class="buttonBuy">
                                <input class="favorite styled" type="button" value="Acheter">
                                <input type="button" value="info">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
                  

        
    </main>
{% endblock %}